<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>公立医院绩效考核系统</title>
        <link rel="stylesheet" href="/static/assets/common.css">
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/assets/css/form-elements.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">
        <script src="/static/assets/html5shiv.js"></script>
        <script src="/static/assets/respond.min.js"></script>
        <link rel="shortcut icon" href="/static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png">
		<script src="/static/assets/js/jquery-1.11.1.min.js"></script>
		<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/assets/js/jquery.backstretch.min.js"></script>
		<script src="/static/assets/js/retina-1.1.0.min.js"></script>
		<script src="/static/assets/js/scripts.js"></script>
		<script src="/static/assets/js/placeholder.js"></script>
		<!-- 引入页面处理Js -->
		<script src="/static/js/login/login.js"></script>
    </head>

    <body>
		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                            <h1><strong>公立医院绩效考核系统</strong></h1>
                            <div class="description">
                            	<p>
									Public hospital performance appraisal system is an accurate, efficient and objective performance appraisal information system
                            	</p>
                            </div>
                        </div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left" style="text-align:center;width: 100%;">
                        			<h3><strong>系统登录</strong></h3>
<!--                            		<p>请填写账户信息</p>-->
                        		</div>
                        		<div class="form-top-right">
<!--                        			<i class="fa fa-pencil"></i>-->
                        		</div>
                            </div>
                            <div class="form-bottom">
								<div class="form-group">
									<input type="text" placeholder="请输入注册的邮箱账号" class="form-control" id="email">
								</div>
								<div class="form-group">
									<input type="password" placeholder="请输入密码" class="form-control" id="password" style="height:50px; margin: 0;padding: 0 20px;vertical-align: middle;background: #f8f8f8;border: 3px solid #ddd;font-family: 'Roboto', sans-serif;font-size: 16px;font-weight: 300;line-height: 50px;color: #888;-moz-border-radius: 4px;-webkit-border-radius: 4px;-moz-box-shadow: none;-webkit-box-shadow: none;-o-transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;-ms-transition: all .3s;">
								</div>
								<div class="form-group">
									<input type="text" placeholder="请输入验证码"  id="checkCode" class="form-control" style="width: 70%;float: left;"> <canvas id="canvas" width="100" height="43" onclick="dj()" style="border: 1px solid #ccc;border-radius: 5px;margin-left: 10px;"></canvas>
								</div>
								<div class="col-md-12">
									<div class="checkbox control-wrapper">
										<label>
											<input type="checkbox" style="margin-top: 8px;">请记住我
										</label>
									</div>
								</div>
								<div>
									<button type="submit" class="btn" onclick="login()">登&nbsp;&nbsp;&nbsp;&nbsp;录</button> <a href="#" class="text-right pull-right" style="margin-top: 8px;"><span onclick="javaScript:alert('你都忘记了，我怎么记得！')">忘记密码</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span onclick="registerPagep()">新用户注册</span></span></a>
								</div>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

	<!-- 消息提示部分 -->
	<div id="commonPage"></div>
	<script>
		$("#commonPage").load("/common/commonPage");
	</script>

	<!-- 验证码部分 -->
	<script>
		var show_num = [];
		draw(show_num);
		function dj(){
			draw(show_num);
		}
		function draw(show_num) {
			var canvas_width=document.getElementById('canvas').clientWidth;
			var canvas_height=document.getElementById('canvas').clientHeight;
			var canvas = document.getElementById("canvas");//获取到canvas的对象，演员
			var context = canvas.getContext("2d");//获取到canvas画图的环境，演员表演的舞台
			canvas.width = canvas_width;
			canvas.height = canvas_height;
			var sCode = "A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0,q,w,e,r,t,y,u,i,o,p,a,s,d,f,g,h,j,k,l,z,x,c,v,b,n,m";
			var aCode = sCode.split(",");
			var aLength = aCode.length;//获取到数组的长度

			for (var i = 0; i <= 3; i++) {
				var j = Math.floor(Math.random() * aLength);//获取到随机的索引值
				var deg = Math.random() * 30 * Math.PI / 180;//产生0~30之间的随机弧度
				var txt = aCode[j];//得到随机的一个内容
				show_num[i] = txt;
				var x = 10 + i * 20;//文字在canvas上的x坐标
				var y = 20 + Math.random() * 8;//文字在canvas上的y坐标
				context.font = "bold 23px 微软雅黑";

				context.translate(x, y);
				context.rotate(deg);

				context.fillStyle = randomColor();
				context.fillText(txt, 0, 0);

				context.rotate(-deg);
				context.translate(-x, -y);
			}
			for (var i = 0; i <= 5; i++) { //验证码上显示线条
				context.strokeStyle = randomColor();
				context.beginPath();
				context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
				context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
				context.stroke();
			}
			for (var i = 0; i <= 30; i++) { //验证码上显示小点
				context.strokeStyle = randomColor();
				context.beginPath();
				var x = Math.random() * canvas_width;
				var y = Math.random() * canvas_height;
				context.moveTo(x, y);
				context.lineTo(x + 1, y + 1);
				context.stroke();
			}
		}
		function randomColor() {//得到随机的颜色值
			var r = Math.floor(Math.random() * 256);
			var g = Math.floor(Math.random() * 256);
			var b = Math.floor(Math.random() * 256);
			return "rgb(" + r + "," + g + "," + b + ")";
		}
	</script>

</html>