<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/skin_/table.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/jquery.grid.css" />
    <script src="/static/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
<div id="container">
    <div id="hd"></div>
    <div id="bd">
        <div id="main">
            <div class="search-box ue-clear">
                <div class="search-area">
                    <div class="kv-item ue-clear">
                        <div class="kv-item ue-clear">
                            <span class="choose">
                                <label>方案名称:</label>
                                <div class="kv-item-content">
                                     <select id="khfa" style="width:120px;">

                                     </select>
                                </div>
                            </span>

                            <span class="choose">
                                <label>考核年份:</label>
                                <div class="kv-item-content">
                                    <select id="khnf" style="width:100px;">
                                        <option value="2020" selected="selected">2020年</option>
                                    </select>
                                </div>
                            </span>

                            <span  class="choose">
                                <label>考核月份:</label>
                                <div class="kv-item-content">
                                      <select id="khyf" style="width:100px;">
                                        <option value="5" selected="selected">5月</option>
                                    </select>
                                </div>
                            </span>

                            <span  class="choose">
                                <label>考核日期:</label>
                                <div class="kv-item-content">
                                    <select id="khrq" style="width:100px;">
                                        <option value="14">14</option>
                                    </select>
                                </div>
                            </span>

                            <span  class="choose">
                                <label>考核人员:</label>
                                <div class="kv-item-content">
                                    <select id="khry" style="width:100px;">
                                        <option>张三</option>
                                    </select>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="search-button">
                    <input class="button" type="button" value="确认填报" onclick="submitForm()"/>
                </div>
            </div>

            <div class="table">
                <div class="opt ue-clear">
                	<span class="sortarea">
                    	<span class="sort">
                        	<label>排序：</label>
                            <span class="name">
                            	<i class="icon"></i>
                                <span class="text">名称</span>
                            </span>
                        </span>

                        <i class="list"></i>
                        <i class="card"></i>
                    </span>
                    <span class="optarea">
                        <a href="javascript:;" class="add">
                            <span class="text" style="font-size: 16px;position: relative;top:-2px;">绩效考核数据</span>
                        </a>
                    </span>
                </div>

                <div>
                    <table class="table table-bordered table-hover">
                        <thead style="background-color:#f6f6f6">
                        <tr>
                            <th>指标名称</th>
                            <th>指标编码</th>
                            <th>工作标量</th>
                            <th>服务次数</th>
                            <th>当日绩效因子</th>
                            <th>绩效工作量</th>
                        </tr>
                        </thead>
                        <tbody id="tableData">

                        </tbody>
                    </table>
                </div>

                <div class="pagination"></div>
            </div>
        </div>
    </div>
</div>
</body>
<!--<script type="text/javascript" src="/static/iform/js/jquery.js"></script>-->
<!--<script type="text/javascript" src="/static/iform/js/global.js"></script>-->
<script type="text/javascript" src="/static/iform/js/jquery.select.js"></script>
<script type="text/javascript" src="/static/iform/js/core.js"></script>
<script type="text/javascript" src="/static/iform/js/jquery.pagination.js"></script>
<script type="text/javascript" src="/static/iform/js/jquery.grid.js"></script>
<script type="text/javascript" src="/static/iform/js/WdatePicker.js"></script>
<script type="text/javascript">
    // $('.pagination').pagination(100,{
    //     callback: function(page){
    //         alert(page);
    //     },
    //     display_msg: false
    // });

    /**
     * 加载考核日期
     */
    function loadDays() {
        let curDate = new Date();
        let day = curDate.getDate();
        let curMonth = $("#khyfs").val();
        curDate.setMonth(curMonth);
        curDate.setDate(0);
        //加载数据
        $("#khrqs").empty();
        for (let i=1;i<=curDate.getDate();i++){
            if (i == day){
                $("#khrqs").append("<option value="+i+" selected='selected'>"+i+"</option>");
            }else{
                $("#khrqs").append("<option value="+i+" >"+i+"</option>");
            }
        }
        // 展示
        $("#khrq").css("display","");
    }

    // 初始化
    $(document).ready(function() {
        //loadDays();

        getUerInfo();
    });

    /**
     *  提交表单数据
     */
    function submitForm() {
        alert("保存成功！");
    }

    /**
     * 获取登录账户信息
     */
    function getUerInfo() {
        $.ajax({
            type: "POST",
            url:"/common/getUserInfo",
            dataType:'json',
            async: true,  // 注：ajax 同步情况下会阻塞一些js效果，比如页面跳转等等，所有注意同异步使用
            success: function(data) {
                if(data.code == 200){
                    // 获取用户信息
                    let user = data.result;
                    // 加载考核方案
                    loadKHFA(user.department);
                }
            },
            error: function() {
                alert("数据异常！");
            }
        });
    }

    /**
     *  加载考核方案
     */
    function loadKHFA(department) {
        $.ajax({
            url: "/register/searchKHFA",
            type: "post",
            dataType: "json", //jsonp会把请求类型强制转换为get请求
            data:{
                "departName":department,
                "khyf":$("#khyf").val(),
                "khnf":$("#khnf").val()
            },
            async: true, //异步请求
            success: function(data) {
                let faList = data.result.faList;
                $("#khfa").empty();
                if(faList.length > 0){
                    $.each(faList,function (index,item) {
                        $("#khfa").append('<option>'+item.planName+'</option>');
                    });

                    let indexList = data.result.indexList;
                    $("#tableData").empty();
                    if(indexList !=null && indexList.length>0){
                        $.each(indexList,function (itx,itm) {
                            $("#tableData").append(' <tr>\n' +
                                '                            <th>'+itm.indexName+'</th>\n' +
                                '                            <th>'+itm.indexCode+'</th>\n' +
                                '                            <th>'+itm.scalar+'</th>\n' +
                                '                            <th><input type="text" value="0" id="fwcs_'+itx+'" onblur=jxGzl('+itx+','+itm.scalar+')></th>\n' +
                                '                            <th><input type="text" value="0" id="jxyz_'+itx+'" onblur=jxGzl('+itx+','+itm.scalar+')></th>\n' +
                                '                            <th id="jxgzl_'+itx+'"></th>\n' +
                                '   </tr>');
                        });
                    }
                }
            },
            error: function(jqXHR, textStatus, errorThrown){
                alert("数据处理异常！");
            }
        });
    }

    /**
     *  指标计算工作量计算
     */
    function jxGzl(index,scalar) {
        let fwcs = parseInt($("#fwcs_"+index+"").val());
        let jxyz = parseInt($("#jxyz_"+index+"").val());
        $("#jxgzl_"+index+"").text(fwcs*jxyz*parseInt(scalar));
    }
</script>
</html>
