<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/skin_/table.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/jquery.grid.css" />
    <script src="/static/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
<div id="container">
    <div id="hd"></div>
    <div id="bd">
        <div id="main">
            <div class="search-box ue-clear">
                <div class="search-area">
                    <div class="kv-item ue-clear">
                        <div class="kv-item ue-clear">
                            <span class="choose">
                                <label>方案名称:</label>
                                <div class="kv-item-content">
                                    <input type="text" id="planName" class="form-control" style="width: 85%"/>
                                </div>
                            </span>

                            <span class="choose">
                                <label>考核年份:</label>
                                <div class="kv-item-content">
                                    <select id="khnf" style="width: 100px;">
                                        <option value="2019">2019年</option>
                                        <option value="2020" selected="selected">2020年</option>
                                        <option value="2021">2021年</option>
                                    </select>
                                </div>
                            </span>

                            <span  class="choose">
                                <label>考核月份:</label>
                                <div class="kv-item-content">
                                    <select id="khyf" style="width: 100px;">
                                        <option value="1">1月</option>
                                        <option value="2">2月</option>
                                        <option value="3">3月</option>
                                        <option value="4">4月</option>
                                        <option value="5" selected="selected">5月</option>
                                        <option value="6">6月</option>
                                        <option value="7">7月</option>
                                        <option value="8">8月</option>
                                        <option value="9">9月</option>
                                        <option value="10">10月</option>
                                        <option value="11">11月</option>
                                        <option value="12">12月</option>
                                    </select>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="search-button">
                    <input class="button" type="button" value="确定方案" onclick="submitPlan()"/>
                </div>
            </div>

            <div class="table">
                <div class="opt ue-clear">
                    <span class="optarea">
                        <a href="#" class="add" data-toggle="modal" onclick="addIndex()">
                            <i class="icon"></i>
                            <span class="text">添加</span>
                        </a>
<!--                        <a href="javascript:;" class="delete" data-toggle="modal" data-target="#delModal">-->
<!--                            <i class="icon"></i>-->
<!--                            <span class="text">删除</span>-->
<!--                        </a>-->
<!--                        <a href="javascript:;" class="statistics">-->
<!--                            <i class="icon"></i>-->
<!--                            <span class="text">统计</span>-->
<!--                        </a>-->
<!--                        <a href="javascript:;" class="config">-->
<!--                            <i class="icon"></i>-->
<!--                            <span class="text">配置</span>-->
<!--                        </a>-->
                    </span>
                </div>

                <!-- 表单内容 class="grid"-->
                <div>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>科室名称</th>
                            <th>指标名称</th>
                            <th>指标编码</th>
                            <th>指标类别</th>
                            <th>指标类型</th>
                            <th>标化系数</th>
                            <th>工作标量</th>
                            <th>绩效因子</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="dataBody">
                        </tbody>
                    </table>
                </div>
                <!-- 分页 -->
                <div class="pagination"></div>
            </div>
        </div>
    </div>
</div>

<!-- 新增指标弹出框 start -->
<div style="display: none" class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    新增指标
                </h4>
            </div>

            <div class="modal-body">
                <div class="kv-item ue-clear">
                    <label><span class="impInfo">*</span>指标名称</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="指标名称" id="indexName"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label><span class="impInfo">*</span>指标编码</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="指标编码" id="indexCode"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label><span class="impInfo">*</span>指标类别</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="医生：D，护士：N" id="indexCategory"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label><span class="impInfo">*</span>指标类型</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="硬性指标 / 非硬性指标" id="indexType"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label><span class="impInfo">*</span>标化系数</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="基本工作量：1" id="ratio"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label><span class="impInfo">*</span>工作标量</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="值：标化系数*基本工作量" id="scalar"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label><span class="impInfo">*</span>绩效因子</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="非硬性指标必填项，硬性指标填 '-' 即可" id="factorNum"/>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="addJxIndex()">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 新增指标弹出框 end -->

<!-- 删除指标弹出框 start -->
<div style="display: none" class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    删除指标
                </h4>
            </div>

            <div class="modal-body">
                <div class="kv-item ue-clear">
                    <label><span class="impInfo">*</span>方案名称</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="一季度绩效考核方案" disabled="disabled" />
                    </div>
                </div>

                <div class="kv-item ue-clear">
                    <label><span class="impInfo">*</span>指标名称</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="护理记录单" />
                    </div>
                </div>

                <div class="kv-item ue-clear">
                    确定删除该指标么？
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 删除指标弹出框 end -->

<!-- 临时数据存储 -->
<input type="hidden" id="department">
<input type="hidden" id="planId">
</body>
<!--<script type="text/javascript" src="/static/iform/js/jquery.js"></script>-->
<!--<script type="text/javascript" src="/static/iform/js/global.js"></script>-->
<script type="text/javascript" src="/static/iform/js/jquery.select.js"></script>
<script type="text/javascript" src="/static/iform/js/core.js"></script>
<script type="text/javascript" src="/static/iform/js/jquery.pagination.js"></script>
<script type="text/javascript" src="/static/iform/js/jquery.grid.js"></script>
<script type="text/javascript" src="/static/iform/js/WdatePicker.js"></script>
<script type="text/javascript">

    // 分页组件，暂时隐藏
    // $('.pagination').pagination(100,{
    //     callback: function(page){
    //         alert(page);
    //     },
    //     display_msg: false
    // });

    /**
     * 加载考核日期
     */
    function loadDays() {
        let curDate = new Date();
        let day = curDate.getDate();
        let curMonth = $("#khyfs").val();
        curDate.setMonth(curMonth);
        curDate.setDate(0);
        //加载数据
        $("#khrqs").empty();
        for (let i=1;i<=curDate.getDate();i++){
            if (i == day){
                $("#khrqs").append("<option value="+i+" selected='selected'>"+i+"</option>");
            }else{
                $("#khrqs").append("<option value="+i+" >"+i+"</option>");
            }
        }
        // 展示
        $("#khrq").css("display","");
    }

    // 初始化
    $(document).ready(function() {
        //loadDays();
        // 获取用户信息
        getUerInfo();
    });

    /**
     *  新增指标
     */
    function addIndex() {
        $("#addModal").modal('show');
    }

    /**
     *  新增指标 -- 激活指标
     */
     function addJxIndex() {
        // 表单参数
        let parameters = {
            "planId":$("#planId").val(),
            "indexName":$("#indexName").val(),
            "indexCode":$("#indexCode").val(),
            "indexCategory":$("#indexCategory").val(),
            "indexType":$("#indexType").val(),
            "ratio":$("#ratio").val(),
            "scalar":$("#scalar").val(),
            "factorNum":$("#factorNum").val()
        }

        $.ajax({
            url: "/register/addJxIndex",
            type: "post",
            dataType: "json", //jsonp会把请求类型强制转换为get请求
            data:JSON.stringify(parameters),
            contentType: 'application/json;charset=utf-8',
            async: true, //异步请求
            success: function(data) {
                alert(data.message);
                // 刷新指标
                searchIndexs();
            },
            error: function(jqXHR, textStatus, errorThrown){
                alert("数据处理异常！");
            }
        });
    }

    /**
     * 查询方案下的所有指标
     */
    function searchIndexs() {
        $("#addModal").modal('hide');

        // 表单参数
        let parameters = {
            "planId":$("#planId").val()
        }

        $.ajax({
            url: "/register/searchIndexs",
            type: "post",
            dataType: "json", //jsonp会把请求类型强制转换为get请求
            data:parameters,
            async: true, //异步请求
            success: function(data) {
                let list = data.result.list;
                let departmentName = $("#department").val();
                $("#dataBody").empty();
                if(list.length > 0){
                    // 遍历指标数据
                    $.each(list,function (index,item) {
                        $("#dataBody").append(displayIndex(departmentName,item));
                    });
                }
            },
            error: function(jqXHR, textStatus, errorThrown){
                alert("数据处理异常！");
            }
        });
    }

    /**
     * 遍历指标
     */
    function displayIndex(departmentName,item) {
        let category = '医生';
        if(item.indexCategory == 'N'){
            category = '护士';
        }
        let type = '硬性指标';
        if(item.indexType == '-1'){
            type = '非硬性指标';
        }
        // 对科室进行转译
        let department ;
        if(departmentName == 'surgery'){
            department = '外科';
        }

        let html = '  <tr>\n' +
            '            <td>'+department+'</td>\n' +
            '            <td>'+item.indexName+'</td>\n' +
            '            <td>'+item.indexCode+'</td>\n' +
            '            <td>'+category+'</td>\n' +
            '            <td>'+type+'</td>\n' +
            '            <td>'+item.ratio+'</td>\n' +
            '            <td>'+item.scalar+'</td>\n' +
            '            <td>'+item.factorNum+'</td>\n' +
            '            <td><a onclick=removeIndex("'+item.indexCode+'")>删除</a>&nbsp;&nbsp;&nbsp;<a>编辑</a></td>\n' +
            '        </tr>'

        return html;
    }

    /**
     * 删除指标
     */
    function removeIndex(indexId) {
        // 表单参数
        let parameters = {
            "planId":$("#planId").val(),
            "indexCode":indexId
        }

        $.ajax({
            url: "/register/removeIndex",
            type: "post",
            dataType: "json", //jsonp会把请求类型强制转换为get请求
            data:parameters,
            async: true, //异步请求
            success: function(data) {
                alert(data.message);
                // 刷新指标
                searchIndexs();
            },
            error: function(jqXHR, textStatus, errorThrown){
                alert("数据处理异常！");
            }
        });
    }

    /**
     *  提交方案
     */
    function submitPlan() {
        let planName = $("#planName").val();
        if(planName == "" || planName ==null){
            alert("方案名称不能为空！");
            return;
        }

        // 表单参数
        let parameters = {
            "planName":$("#planName").val(),
            "khnf":$("#khnf").val(),
            "khyf":$("#khyf").val(),
            "departName":$("#department").val(),
            "state":"0"
        }

        $.ajax({
            url: "/register/addJxPlan",
            type: "post",
            dataType: "json", //jsonp会把请求类型强制转换为get请求
            data:JSON.stringify(parameters),
            contentType: 'application/json;charset=utf-8',
            async: true, //异步请求
            success: function(data) {
                let planId = data.result.planId;
                if(data.code == 200){
                    $("#planId").val(planId);
                }
                alert(data.message);
                // 查询方案下的所有指标
                searchIndexs();
            },
            error: function(jqXHR, textStatus, errorThrown){
                alert("数据处理异常！");
            }
        });
    }

    /**
     * 获取登录账户信息
     */
    function getUerInfo() {
        $.ajax({
            type: "POST",
            url:"/common/getUserInfo",
            dataType:'json',
            async: true,  // 注：ajax 同步情况下会阻塞一些js效果，比如页面跳转等等，所有注意同异步使用
            success: function(data) {
                if(data.code == 200){
                    // 获取用户信息
                    let user = data.result;
                    // 参数设置
                    $("#department").val(user.department);
                }
            },
            error: function() {
                alert("数据异常！");
            }
        });
    }
</script>
</html>
