<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/skin_/form.css" />
    <link href="/static/iform/umeditor/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/iform/js/jquery.js"></script>
    <script type="text/javascript" src="/static/iform/js/global.js"></script>
    <script type="text/javascript" src="/static/iform/js/jquery.select.js"></script>
    <script type="text/javascript" src="/static/iform/js/WdatePicker.js"></script>
    <script type="text/javascript">
        window.UMEDITOR_HOME_URL = 'umeditor/';  // 请换成绝对路径
    </script>
    <script type="text/javascript" src="/static/iform/js/umeditor.config.js"></script>
    <script type="text/javascript" src="/static/iform/js/editor_api.js"></script>
    <script type="text/javascript" src="/static/iform/umeditor/lang/zh-cn/zh-cn.js"></script>
</head>

<body>
<div id="container">
    <div id="hd">
    </div>
    <div id="bd">
        <div id="main">
            <h2 class="subfild">
                <span>科室信息</span>
            </h2>
            <div class="subfild-content base-info">
                <div class="kv-item ue-clear">
                    <label style="width:150px"><span class="impInfo">*</span>2月份科室KPI完成率：</label>
                    <div class="kv-item-content">
                        <input type="text" value="100%" disabled="disabled"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:150px"><span class="impInfo">*</span>2月份科室绩效考核总量：</label>
                    <div class="kv-item-content">
                        <input type="text" value="127800" disabled="disabled"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:150px"><span class="impInfo">*</span>2月份科室收支情况：</label>
                    <div class="kv-item-content">
                        <input type="text" value="+145700" disabled="disabled"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:150px"><span class="impInfo">*</span>2月份科室绩效奖金：</label>
                    <div class="kv-item-content">
                        <input type="text" value="80000" disabled="disabled"/>
                    </div>
                </div>
            </div>

            <h2 class="subfild">
                <span>奖金分配</span>
            </h2>

            <div class="subfild-content remarkes-info">
                <div class="kv-item ue-clear">
                    <label style="width:150px"><span class="impInfo">*</span>2月份个人KPI完成率：</label>
                    <div class="kv-item-content">
                        <input type="text" value="100%" disabled="disabled"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:150px"><span class="impInfo">*</span>2月份个人绩效考核总量：</label>
                    <div class="kv-item-content">
                        <input type="text" value="15975" disabled="disabled"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:150px"><span class="impInfo">*</span>2月份个人绩效奖金：</label>
                    <div class="kv-item-content">
                        <span style="color: red;font-size: 20px;">80000</span> <span style="color: #0e8bc5;font-size: 16px;">*( </span><span style="color: red;font-size: 20px;">15975</span> <span style="color: #0e8bc5;font-size: 16px;">/</span> <span style="color: red;font-size: 20px;">127800</span><span style="color: #0e8bc5;font-size: 16px;">) = </span><span style="color: red;font-size: 24px;">10000</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
    $('select').select();
    showRemind('input[type=text],textarea','color5');
    UM.getEditor('content');
</script>
</html>
