<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/skin_/form.css" />
    <link href="/static/iform/umeditor/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/iform/js/jquery.js"></script>
    <script type="text/javascript" src="/static/iform/js/global.js"></script>
    <script type="text/javascript" src="/static/iform/js/jquery.select.js"></script>
    <script type="text/javascript" src="/static/iform/js/WdatePicker.js"></script>
    <script type="text/javascript">
        window.UMEDITOR_HOME_URL = 'umeditor/';  // 请换成绝对路径
    </script>
    <script type="text/javascript" src="/static/iform/js/umeditor.config.js"></script>
    <script type="text/javascript" src="/static/iform/js/editor_api.js"></script>
    <script type="text/javascript" src="/static/iform/umeditor/lang/zh-cn/zh-cn.js"></script>
</head>

<body>
<div id="container">
    <div id="hd">
    </div>
    <div id="bd">
        <div id="main">
            <h2 class="subfild">
                <span>科室信息</span>
            </h2>
            <div class="subfild-content base-info">
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>2月份科室考核数：</label>
                    <div class="kv-item-content">
                        <input type="text" value="6" disabled="disabled"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>2月份科室KPI完成数：</label>
                    <div class="kv-item-content">
                        <input type="text" value="6" disabled="disabled"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>2月份科室KPI未完成数：</label>
                    <div class="kv-item-content">
                        <input type="text" value="0" disabled="disabled"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>2月份各科室满意度均值：</label>
                    <div class="kv-item-content">
                        <input type="text" value="92.6%" disabled="disabled"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>2月份财务总收入：</label>
                    <div class="kv-item-content">
                        <input type="text" value="762900" disabled="disabled"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>2月份财务总支出：</label>
                    <div class="kv-item-content">
                        <input type="text" value="273240" disabled="disabled"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>2月份财务盈余情况：</label>
                    <div class="kv-item-content">
                        <input type="text" value="+489660" disabled="disabled"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>2月份可分配奖金数：</label>
                    <div class="kv-item-content">
                        <input type="text" value="260000" disabled="disabled"/>
                    </div>
                </div>
            </div>

            <h2 class="subfild">
                <span>奖金分配</span>
            </h2>

            <div class="subfild-content remarkes-info">

                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>2月份绩效考核各科室排名：</label><br>
                    <div>
                        <br>
                        <div>第 <span style="color: red;font-size: 18px">1</span> 名：护理科（<span style="color: green;">月末抽查得分：</span><span style="color: red;font-size: 18px">92 </span><span style="color: green;">服务回访满意度：</span> <span style="color: red;font-size: 18px">98%</span>）</div><br>
                        <div>第 <span style="color: red;font-size: 18px">2</span> 名：门诊科（<span style="color: green;">月末抽查得分：</span><span style="color: red;font-size: 18px">90 </span><span style="color: green;">服务回访满意度：</span> <span style="color: red;font-size: 18px">95%</span>）</div><br>
                        <div>第 <span style="color: red;font-size: 18px">3</span> 名：呼吸科（<span style="color: green;">月末抽查得分：</span><span style="color: red;font-size: 18px">89 </span><span style="color: green;">服务回访满意度：</span> <span style="color: red;font-size: 18px">92%</span>）</div><br>
                        <div>第 <span style="color: red;font-size: 18px">4</span> 名：儿科（<span style="color: green;">月末抽查得分：</span><span style="color: red;font-size: 18px">85 </span><span style="color: green;">服务回访满意度：</span> <span style="color: red;font-size: 18px">91%</span>）</div><br>
                        <div>第 <span style="color: red;font-size: 18px">5</span> 名：急症科（<span style="color: green;">月末抽查得分：</span><span style="color: red;font-size: 18px">83 </span><span style="color: green;">服务回访满意度：</span> <span style="color: red;font-size: 18px">90%</span>）</div><br>
                        <div>第 <span style="color: red;font-size: 18px">6</span> 名：肿瘤科（<span style="color: green;">月末抽查得分：</span><span style="color: red;font-size: 18px">80 </span><span style="color: green;">服务回访满意度：</span> <span style="color: red;font-size: 18px">90%</span>）</div><br>
                    </div>
                </div>


                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>护理科：</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="分配数"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>门诊科：</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="分配数"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>呼吸科：</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="分配数"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>儿科：</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="分配数"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>急症科：</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="分配数"/>
                    </div>
                </div>
                <div class="kv-item ue-clear">
                    <label style="width:170px"><span class="impInfo">*</span>肿瘤科：</label>
                    <div class="kv-item-content">
                        <input type="text" placeholder="分配数"/>
                    </div>
                </div>
                <div class="buttons" style="margin-left: 10%">
                    <input class="button" type="button" value="确认分配" />
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
    $('select').select();
    showRemind('input[type=text],textarea','color5');
    UM.getEditor('content');
</script>
</html>
