<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/skin_/table.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/jquery.grid.css" />
    <script src="/static/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
<div id="container">
    <div id="hd"></div>
    <div id="bd">
        <div id="main">
            <div class="search-box ue-clear">
                <div class="search-area">
                    <div class="kv-item ue-clear">
                        <div class="kv-item ue-clear">
                            <span class="choose">
                                <label>方案名称:</label>
                                <div class="kv-item-content">
                                    <input type="text" placeholder=""  style="width: 85%" id="planName"/>
                                </div>
                            </span>

                            <span class="choose">
                                <label>年份:</label>
                                <div class="kv-item-content">
                                    <select id="khnf" style="width:100px;">
                                        <option value="2019">2019年</option>
                                        <option value="2020" selected="selected">2020年</option>
                                        <option value="2021">2021年</option>
                                    </select>
                                </div>
                            </span>

                            <span  class="choose">
                                <label>月份:</label>
                                <div class="kv-item-content">
                                    <select id="khyf" style="width:100px;">
                                        <option value="1">1月</option>
                                        <option value="2">2月</option>
                                        <option value="3">3月</option>
                                        <option value="4">4月</option>
                                        <option value="5" selected="selected">5月</option>
                                        <option value="6">6月</option>
                                        <option value="7">7月</option>
                                        <option value="8">8月</option>
                                        <option value="9">9月</option>
                                        <option value="10">10月</option>
                                        <option value="11">11月</option>
                                        <option value="12">12月</option>
                                    </select>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="search-button">
                    <input class="button" type="button" value="查询" onclick="searchPlans()"/>
                </div>
            </div>

            <div class="table">
                <div class="opt ue-clear">
                	<span class="sortarea">
                    	<span class="sort">
                        	<label>排序：</label>
                            <span class="name">
                            	<i class="icon"></i>
                                <span class="text">名称</span>
                            </span>
                        </span>

                        <i class="list"></i>
                        <i class="card"></i>
                    </span>
                    <span class="optarea">
                        <a href="javascript:;" class="add">
                            <span class="text" style="font-size: 16px;position: relative;top:-2px;">绩效考核方案</span>
                        </a>
                    </span>
                </div>

                <div>
                    <table class="table table-bordered table-hover">
                        <thead style="background-color:#f6f6f6">
                        <tr>
                            <th>方案名称</th>
                            <th>科室名称</th>
                            <th>提交时间</th>
                            <th>是否审核</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="tableData">

                        </tbody>
                    </table>
                </div>

                <div class="pagination"></div>
            </div>
        </div>
    </div>
</div>
</body>
<!--<script type="text/javascript" src="/static/iform/js/jquery.js"></script>-->
<!--<script type="text/javascript" src="/static/iform/js/global.js"></script>-->
<script type="text/javascript" src="/static/iform/js/jquery.select.js"></script>
<script type="text/javascript" src="/static/iform/js/core.js"></script>
<script type="text/javascript" src="/static/iform/js/jquery.pagination.js"></script>
<script type="text/javascript" src="/static/iform/js/jquery.grid.js"></script>
<script type="text/javascript" src="/static/iform/js/WdatePicker.js"></script>
<script type="text/javascript">
    // $('.pagination').pagination(100,{
    //     callback: function(page){
    //         alert(page);
    //     },
    //     display_msg: false
    // });

    /**
     * 加载考核日期
     */
    function loadDays() {
        let curDate = new Date();
        let day = curDate.getDate();
        let curMonth = $("#khyfs").val();
        curDate.setMonth(curMonth);
        curDate.setDate(0);
        //加载数据
        $("#khrqs").empty();
        for (let i=1;i<=curDate.getDate();i++){
            if (i == day){
                $("#khrqs").append("<option value="+i+" selected='selected'>"+i+"</option>");
            }else{
                $("#khrqs").append("<option value="+i+" >"+i+"</option>");
            }
        }
        // 展示
        $("#khrq").css("display","");
    }

    // 初始化
    $(document).ready(function() {
       // loadDays();
        searchPlans();
    });

    /**
     *  检索考核方案
     */
    function searchPlans(){
        $.ajax({
            url: "/admin/searchPlans",
            type: "post",
            dataType: "json", //jsonp会把请求类型强制转换为get请求
            data:{
                "planName":$("#planName").val(),
                "khnf":$("#khnf").val(),
                "khyf":$("#khyf").val()
            },
            async: true, //异步请求
            success: function(data) {
                let list = data.result.list;
                $("#tableData").empty();
                if(list.length>0){
                    $.each(list,function (index,item) {
                        $("#tableData").append(displanPlan(item));
                    });
                }
            },
            error: function(jqXHR, textStatus, errorThrown){
                alert("数据处理异常！");
            }
        });
    }

    /**
     * 遍历方案
     */
    function displanPlan(item) {
        let departName = "外科";
        if(item.departName =='surgery'){
            departName = '外科';
        }
        let isSh = '通过';
        let content = '<a onclick=passOrRefuse("'+item.planName+'","'+item.departName+'","'+item.khnf+'","'+item.khyf+'","-1")>驳回</a>';
        if(item.state == '-1'){
            isSh = '未通过';
            content = '<a onclick=passOrRefuse("'+item.planName+'","'+item.departName+'","'+item.khnf+'","'+item.khyf+'","1")>通过</a>&nbsp;&nbsp;&nbsp;&nbsp;';
        }
        if(item.state == '0'){
            isSh = '未审核';
            content = '<a onclick=passOrRefuse("'+item.planName+'","'+item.departName+'","'+item.khnf+'","'+item.khyf+'","1")>通过</a>&nbsp;&nbsp;&nbsp;&nbsp;' +
                '<a onclick=passOrRefuse("'+item.planName+'","'+item.departName+'","'+item.khnf+'","'+item.khyf+'","-1")>驳回</a>';
        }

        let html = ' <tr>' +
            '        <td>'+item.planName+'</td>\n' +
            '        <td>'+departName+'</td>\n' +
            '        <td>'+item.updateTime+'</td>\n' +
            '        <td>'+isSh+'</td>\n' +
            '        <td>'+content+'</td>' +
            '</tr>';

        return html;
    }

    /**
     *  通过或者驳回 操作
     */
    function passOrRefuse(planName,departName,khnf,khyf,code) {
        $.ajax({
            url: "/admin/passOrRefuse",
            type: "post",
            dataType: "json", //jsonp会把请求类型强制转换为get请求
            data:{
                "planName":planName,
                "departName":departName,
                "khnf":khnf,
                "khyf":khyf,
                "code":code
            },
            async: true, //异步请求
            success: function(data) {
                alert(data.message);

                // 刷新方案列表
                searchPlans();
            },
            error: function(jqXHR, textStatus, errorThrown){
                alert("数据处理异常！");
            }
        });
    }
</script>
</html>
