<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/skin_/table.css" />
    <link rel="stylesheet" type="text/css" href="/static/iform/css/jquery.grid.css" />
</head>

<body>
<div id="container">
    <div id="hd"></div>
    <div id="bd">
        <div id="main">
            <div class="search-box ue-clear">
                <div class="search-area">
                    <div class="kv-item ue-clear">
                        <div class="kv-item ue-clear">
                            <span class="choose">
                                <label>方案名称:</label>
                                <div class="kv-item-content">
                                    <input type="text" placeholder=""  style="width: 85%"/>
                                </div>
                            </span>

                            <span class="choose">
                                <label>年份:</label>
                                <div class="kv-item-content">
                                    <select>
                                        <option>2019年</option>
                                        <option selected="selected">2020年</option>
                                        <option>2021年</option>
                                    </select>
                                </div>
                            </span>

                            <span  class="choose" id="khyf">
                                <label>月份:</label>
                                <div class="kv-item-content">
                                    <select id="khyfs">
                                        <option value=1>1月</option>
                                        <option value=2>2月</option>
                                        <option selected="selected" value=3>3月</option>
                                        <option value=4>4月</option>
                                        <option value=5>5月</option>
                                        <option value=6>6月</option>
                                        <option value=7>7月</option>
                                        <option value=8>8月</option>
                                        <option value=9>9月</option>
                                        <option value=10>10月</option>
                                        <option value=11>11月</option>
                                        <option value=12>12月</option>
                                    </select>
                                </div>
                            </span>

                            <span  class="choose" id="khrq">
                                <label>日期:</label>
                                <div class="kv-item-content">
                                    <select id="khrqs">
                                        <option value=9>9</option>
                                    </select>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="search-button">
                    <input class="button" type="button" value="查询" />
                </div>
            </div>

            <div class="table">
                <div class="opt ue-clear">
                	<span class="sortarea">
                    	<span class="sort">
                        	<label>排序：</label>
                            <span class="name">
                            	<i class="icon"></i>
                                <span class="text">名称</span>
                            </span>
                        </span>

                        <i class="list"></i>
                        <i class="card"></i>
                    </span>
                    <span class="optarea">
                        <a href="javascript:;" class="add">
                            <span class="text" style="font-size: 16px;position: relative;top:-2px;">绩效考核方案</span>
                        </a>
                    </span>
                </div>

                <div class="grid"></div>

                <div class="pagination"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/iform/js/jquery.js"></script>
<script type="text/javascript" src="/static/iform/js/global.js"></script>
<script type="text/javascript" src="/static/iform/js/jquery.select.js"></script>
<script type="text/javascript" src="/static/iform/js/core.js"></script>
<script type="text/javascript" src="/static/iform/js/jquery.pagination.js"></script>
<script type="text/javascript" src="/static/iform/js/jquery.grid.js"></script>
<script type="text/javascript" src="/static/iform/js/WdatePicker.js"></script>
<script type="text/javascript">
    $('select').select();
    var head = [{
        label: '方案名称',
        width: 180,
        name: 'ks'
    },{
        label: '科室名称',
        width: 120,
        sortable: 'default',
        name: 'id'
    },{
        label:'科室编码',
        width: 350,
        name:'name'
    },{
        label:'提交时间',
        width:150
    },{
        label: '是否审核',
        width: 150
    },{
        label: '审核日期',
        width: 150
    },{
        label: '审核人',
        width: 150
    }];

    var oper = [{label:'-',onclick:function(){
            alert('-');
        }},{label:'-',onclick: function(){
            alert('-')
        }}]

    var oper2 = [{label:'通过',onclick:function(){
            alert('通过');
        }},{label:'驳回',onclick: function(){
            alert('驳回')
        }}]

    var tbody = [
        ["2020一季度绩效方案","护理科","N01","2020-02-01","已审核","2020-02-01","王五",oper],
        ["2020二季度绩效方案","护理科","N01","2020-03-07","未审核","-","-",oper2],
        ["2019四季度绩效方案","呼吸科","N02","2020-02-01","已审核","2019-09-01","王五",oper],
        ["2019三季度绩效方案","肿瘤科","N03","2020-02-01","已审核","2019-09-01","王五",oper],
        ["2019二季度绩效方案","护理科","N01","2020-02-01","已审核","2019-09-01","王五",oper]
    ]

    $('.grid').Grid({
        thead: head,
        tbody: null,
        height:400,
        checkbox: {
            single:true
        },
        operator: {
            type : "normal",
            width : 100
        },
        sortCallBack : function(name,index,type){
            alert(name+","+index+','+type);
        }

    });

    $('.grid').Grid('addLoading');

    /// 模拟异步
    setTimeout(function(){
        $('.grid').Grid('setData',tbody, head);
    },2000)


    $('.pagination').pagination(100,{
        callback: function(page){
            alert(page);
        },
        display_msg: false
    });

    $('.search-box input[type=radio]').click(function(e) {
        if($(this).prop('checked')){
            if($(this).attr('data-define') === 'define'){
                $('.define-input').show();
            }else{
                $('.define-input').hide();
            }
        }
    });

    /**
     * 加载考核日期
     */
    function loadDays() {
        let curDate = new Date();
        let day = curDate.getDate();
        let curMonth = $("#khyfs").val();
        curDate.setMonth(curMonth);
        curDate.setDate(0);
        //加载数据
        $("#khrqs").empty();
        for (let i=1;i<=curDate.getDate();i++){
            if (i == day){
                $("#khrqs").append("<option value="+i+" selected='selected'>"+i+"</option>");
            }else{
                $("#khrqs").append("<option value="+i+" >"+i+"</option>");
            }
        }
        // 展示
        $("#khrq").css("display","");
    }

    // 初始化
    $(document).ready(function() {
        loadDays();
    });
</script>
</html>
