html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;font-size:100%;vertical-align:baseline;border:0;outline:0;background:transparent}
body{background:#fff;color:#D5D6E2;font-family:"Microsoft YaHei","Segoe UI","Lucida Grande",Helvetica,Arial,sans-serif}
a{text-decoration:none}
.wrap{width:1200px;margin:0 auto}
.notFound{margin:70px 0 80px 0}
.fl{float:left}
p{word-wrap:break-word;overflow:hidden;line-height:30px}